<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                        <h1>Course Web</h1>
                        <!-- <p>You are 30 seconds away from earning your own money!</p>
                        <input type="submit" name="" value="Login"/><br/> -->
                    </div>
                    <div class="col-md-9 register-right">
                        <!-- <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Employee</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Hirer</a>
                            </li>
                        </ul> -->
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <form [formGroup]="ictForm">
                                <h1 class="register-heading">Course Information Communication Technology</h1>
                             
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="hidden" formControlName="idCtrl">
                                            <input type="text" class="form-control" placeholder="Couse Name" value="" formControlName="coursenameCtrl"/>
                                        </div>
                                       
                                        <div class="form-group">
                                            <textarea  class="form-control" placeholder="Enter the content" formControlName="coursenameCtrl"></textarea>
                                        </div>
                                        <button type="submit" class="btnRegister"  value="Register" (click)="save(Course)">Register </button> 
                                    </div>
                                </div>
                            </form>
                            </div>
                          
                        </div>
                    </div>
                </div>

            </div>