<table mat-table [dataSource]="dataSource" style="width: 1000px; height: 500px;" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>
  <ng-container matColumnDef="productName">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="productDescription">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.productDescription}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="manufactureDate">
    <th mat-header-cell *matHeaderCellDef> Manufacturing Date </th>
    <td mat-cell *matCellDef="let element"> {{element.manufactureDate}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element"> <button mat-fab color="danger"
        aria-label="Example icon button with a delete icon" (click)="deleteProduct(element.id)">
        <mat-icon>delete</mat-icon>
      </button> <button type="button" mat-fab color="primary" aria-label="Example icon button with a delete icon"
        [routerLink]="['/product-list', element.id, 'edit']">
        <span class="material-icons">
          mode_edit
        </span>
      </button></td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>